body {
    background-color: rgb(92, 212, 124);
}
.Card {
    background-color: rgb(221, 223, 239);
    border-style: solid, grey;
    border-radius: 10px;
    height: 75vh;
    width: 60vh;
    margin: 25%;
}
.Header {
    padding-left: 20px;
    padding-top: 20px;

}
#Numero {
    height: 60%;   
}

.Footer {
    text-align-last: right;
    padding-right: 20px;
    padding-bottom: 20px;
    
}
p {
    font-size: 1100%;
    font-family: 'Times New Roman', Times, serif;
    text-align-last: center;
    
}



