body {
    background-color: rgb(92, 212, 150);
}
.Card {
    
    background-color: rgb(225, 226, 242);
    border-style: solid, grey;
    border-radius: 10px;
    height: 75vh;
    width: 60vh;
    margin: 25%;
}
.Header {
    padding-left: 20px;
    padding-top: 20px;

}
#Numero {
    height: 70%;   
}

h1 {
    display: flex;
    justify-content: center;
    align-items: baseline;
    font-size: 50px;
}
.Footer {
    text-align-last: right;
    padding-right: 20px;
    
}


