body {
  background-color: rgb(92, 212, 124);
}
.Card {
  background-color: rgb(221, 223, 239);
  border-radius: 10px;
  height: 70vh;
  width: 55vh;
  margin: 25%;
}
.Header {
  padding-left: 20px;
  padding-top: 20px;
}
#Numero {
  height: 70%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Footer {
  text-align-last: right;
  padding-right: 20px;
  padding-bottom: 10px;
}
p {
  font-size: 90px;
  font-family: "Times New Roman", Times, serif;
  text-align-last: center;
  padding-right: 5%;
  padding-left: 5%;
}

.red {
  color: red;
}

